html{
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 258px;
}

/*--------------------------------------
        NAVBAR
--------------------------------------*/
//.navbar-brand {
//    padding-top: 4px;
//
//    img {
//        margin: 0 auto;
//        display: block;
//        max-width: 80px;
//    }
//}

.navbar .navbar-nav, .navbar-brand {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-right {
    position: absolute;
}

.navbar-default .navbar-nav>li{
    padding-right: 24px;
}
/*--------------------------------------
        LOG IN
--------------------------------------*/

.login_box {
    margin-top: 5vh;
}

/*--------------------------------------
        START PAGE
--------------------------------------*/

.jumbo_start {
    background-image: url(../images/watch@1440px.jpg);
}

 .jumbo_start>img {
    width: 800px;
    margin-top: 4vh;      
}

.jumbo_login {
    background-image: url(../images/login_background@1440px.jpg);
}


/*--------------------------------------
        BLOG
--------------------------------------*/

.content_wrap {
    margin-top: 50px;
    width: 960px;
}

/*--------------------------------------
        COMMENT
--------------------------------------*/

.comment_field:nth-child(2){
    padding-left: 15px;
}

/*--------------------------------------
        ADMIN/PROFILE
--------------------------------------*/

/*********SIDE BAR***********/ 
#sidebar {
    width: 250px;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    
    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    .sidebar_header {
        display: block;
        padding: 20px;
        background: #0F3248;
        
        img {
            width: 6em;
            margin: 0;
        }
        
        h3 {
            display: inline-block;
        }
    }
    
    ul li a:hover{
        color: #8C8E92;
        background: #fff;
    }
}

/*********CONTENT PROFILE***********/ 
#content {
    width: calc(100% - 250px);
    max-width: 1024px;
    padding: 0 30px 30px 30px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 250px;
}

#content.active {
    width: 100%;
}

.btn_card {
    width: 100%;
    margin: 10px 0px;
}

.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
} 

#content>.row {
    margin-top: 30px;
}

/*********SHORTCUT BOX***********/ 

.shortcut{
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: nowrap;
}

a.shortcut_box {
    width: 25%;
    min-height: 180px;
    
    img {
        padding-top: 42px;
        width: 5em;
    }
    
    &:hover{
         box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        -ms-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        transform: scale(1.02);  
    }
    
    &:nth-child(1){
        margin-left: 0;
    }
    
    
    &:nth-child(2){
        background-color: #00B0C8;
    }
    
    &:nth-child(3){
        background-color: #FF6C58;
    }
    
    &:nth-child(4){
        background-color: #F69C35;
    }
}

/*********TOP NAVBAR***********/ 
.top_nav {
    display: block;
    height: 60px;
    margin-bottom: 22px;
    border-bottom: 1px solid black;

    h3 {
        float: right;
        margin-right: 30px;   
    }
    
    a {
        border: 2px solid rgba(0,160,80,0);
        color: #333; 
        float: left;
        
        &:hover {
            color: #0b7;
            height: 60px;
            text-align: center;
            transition: 0.5s;
            padding: 0 20px;
            border: 2px solid #0b7;
            -webkit-transition:0.5s;
        }
    } 
   
}         

.clear {   
    clear:both;
}

/*-----------------------------------------
                FOOTER
------------------------------------------*/

.main_wrap, .conten_wrap{
    min-height: 100%;
}

#footer {
    margin-top: -258px;
    position: absolute;
    left: 0;
    bottom:0px;
    width:100%; 
    height: 258px;

    img {
        padding-top: 32px;
    }
    .social_networks {
        margin-top: 30px;
        padding-top: 30px;
    }
}