body {
    padding-top: 50px;
}
/*-------------------LOG IN-------------------*/
.login_box {
    margin-top: 5vh;
}
/*-------------------BLOG LANDING PAGE-------------------*/
 .jumbo_start>img {
    width: 800px;
    margin-top: 4vh;      
}
/*-------------------BLOG PAGE-------------------*/
.content_wrap {
    margin-top: 50px;
    width: 960px;
}
/*-------------------COMMENT PAGE-------------------*/
.comment_field:nth-child(2){
    padding-left: 15px;
}
/*-------------------ADMIN PAGE-------------------*/