@import "_variables.scss";
@import "_mixin.scss";
@import "_normalize.scss";

body {
    padding-top: 50px;
}

h1, h2, h3, h4 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
}

.span_light {
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 2.2px;
    margin: 10px 0;
    display: block;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

p{
    color: #555;
    text-align: left;
}

a {
    color: $linkColorLight;
    text-decoration: none;
    
    &:focus {
        color: $linkColorLight;
    }
}

article {
    text-align: left;
}

.content_wrap {
    padding: 0 12px;
}

.pagination {
    float: right;
}

/*--------------------------------------
        NAVBAR
--------------------------------------*/
.navbar-default {
    background-color: $brandColorBlue;
    color: #FFF;
    
    a {
        color: $linkColorLight !important;
    }
    
    .navbar-toggle {
        border: none;

        &:focus, &:hover {
          background-color: $navCompColor;  
        }
    }
    
    .navbar-nav {
        margin: 0px -15px;
    
        li {
            
            > a:hover {
                    background-color: $navCompColor;
            }
            
            .dropdown-menu {
                background-color: $navCompColor !important;
                left: 12px;

                a {
                    text-decoration: none;

                    &:hover {
                        background-color: $brandColorBlue;
                    }
                }
            }
        }
        
        /*open dropdown menu*/
        .open {
            
            > a {
                background-color: $navCompColor !important;
            }    
            
            .dropdown-menu > li > a:hover {
                    background-color: $brandColorBlue;
            }
        }
    }
}

.navbar-fixed-top {
    border-width: 0;
}

#nav-logo {
    display: none;
}


/*--------------------------------------
        JUMBOTRON
--------------------------------------*/

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #064410;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    
    a:hover, a:focus, .fa-angle-down:active {
        color: $linkColorLight;
    }
}

.jumbo_start {
    background-image: url(../images/watch@500px.jpg);
    
    img {
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 12vh; 
    }
}


/*--------------------------------------
        ARROW DOWN ANIMATION
--------------------------------------*/

#arrow_down {
	-webkit-animation-name: arrow_down;
	animation-name: arrow_down;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
    transition: height 0.6s ease-in-out;
    font-size: 5em;
    text-align: center;
    margin-top: 5%;
    
}


@-webkit-keyframes arrow_down {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
		opacity: 0;
	}
}

/*needed because bootstrap navbar needs 50px in body and push content down*/
#comments:before, #blog:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
}


/*--------------------------------------
        LOG IN
--------------------------------------*/

.jumbo_login {
    background-image: url(../images/login_background@500px.jpg);
    padding-top: 0;
}

.login_box {
    color: #FFF;
    margin: 0 auto 56px auto;
    max-width: 480px;
    padding: 48px 56px;
    background: rgba(15,50,72,0.80);
    border-radius: 2px;
    
    h1 {
        font-size: 2em;
        text-align: center;
    }
    
    p {
        color: #FFF;
        font-size: 1.1em;
        margin-bottom: 8px;
        text-align: center;
    }
    
        .p_forgot {
        text-decoration: underline;
        text-align: right;
    }
    
    a {
        color: $linkColorLight;
        text-decoration: none;
        
        &:hover {
            color: #D8D8D8;
        }
    }
    
    img {
        width: 240px;
        display: block;
        margin: auto;
    }
      
    .register_text {
        
        p:nth-child(2) {
            font-weight:500;
            margin-bottom: 0;
        }  
    }
    
}

@media screen and(min-width: 500px){
    .login_box {
        margin-top: 5vh;
    }
}



/*--------------------------------------
        BLOG 
--------------------------------------*/

.entry_box {
    text-align: center;
    margin-top: 54px;
    margin-bottom: 48px;
    
    article {
        padding-top: 16px;
    }
    
    img {
        width: 378px;
    }
}

/*--------------------------------------
        COMMENT 
--------------------------------------*/

.comment_field {
    padding: 0;
}

.comment_box {
    text-align:left;

    p {
        padding-top: 12px;   
    }
    
    h3, h5 {
        padding: 0;
    }
}



/*-----------------------------------------
                ABOUT
------------------------------------------*/

.about_wrap img {
    overflow: hidden;
    max-height: 480px;
    display: block;
    margin: auto;
}

/*--------------------------------------
        CATEGORY
--------------------------------------*/

#category {
    text-align: center;
    
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 32px 0 48px;
        
        .btn-primary {
            margin: 0 8px;
        }
    }
    
}

.card-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.card {  
    overflow: hidden;
    max-height: 390px;
    width: 30rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    margin: 4px;
    
        &:hover{
             box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            -ms-transform: scale(1.02);
            -webkit-transform: scale(1.02);
            transform: scale(1.02);  
        }

    img {
        border-radius: 2px 2px 0 0;
        display: block;
        position: relative;
        max-width: 100%;
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
//        white-space: nowrap;
//        overflow: hidden;
        
        &:nth-of-type(n){
            display: none;
        }
    }
    
    h2 {
        font-size: 1.2em;
    }
    
}

.card-body {
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;

    a {
        color: #000;
        text-align: right;
    }
}

#category > div.card-wrap > div:nth-child(1) > div > p:nth-child(5) > img {
    display: none;
}

#category > div.card-wrap > div:nth-child(5) > div > p.card-text > a > img {
    display:none;
}

.category_readmore {
    font-weight: 500;
    display: block;
    margin: 20px 0 10px 0;
}

.card-text {
    display: -webkit-box;
              -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


/*--------------------------------------
        ARCHIVE
--------------------------------------*/

.archive_box {
    margin-top: 54px;
    margin-bottom: 48px;
    border-bottom: 1px solid #eee;
}

.readmore_h3 {
text-align:right;
color: #000;
margin-bottom: 12px;
}

/*--------------------------------------
        ADMIN/PROFILE
--------------------------------------*/

/*********SIDEBAR***********/
 #sidebar {
    color: #fff;
    background: $brandColorBlue; 
    height: 60px;
    width: 100%;
    z-index: 999;
    transition: all 0.3s;
    position: relative;
     
     h1 {
         font-size: 1.3em;
         margin: 20px 0 10px 0;
         display: inline-block;
     }
     
    ul p {
        color: #fff;
        padding: 10px;
    }
    
    ul li a {
        padding: 20px;
        font-size: 1.1em;
        display: block;
        text-decoration: none;
    }
     
    ul li.active > a {
        color: $linkColorLight;
        background: #8C8E92;
    }
         
    img {
        width: 2em;
        margin-right: 8px;
    }
     
    ul li a:hover{
        color: $linkColorLight;
        background: #2c6284;
    }
}

#sidebar .sidebar_header {
    display: none;
}
     
#sidebar ul ul a {
    padding-left: 30px;
    background: #2c6284;
    color: $linkColorLight;
}

#sidebar .navbar-collapse {
    background-color: $brandColorBlue;
    padding: 0;
    border: none;
}

#sidebar ul ul a {

    &:hover {
        color: $brandColorBlue;
        background-color: #FFF;
    }  
}
    
#sidebar .navbar-collapse ul {
    margin-bottom: 0;
}

.logout{
    background-color: #3D4B5B;
} 

.top_nav {
    display: none;
}


/*********SHORTCUT BOX***********/

.shortcut {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
    padding: 0;
    justify-content: center;
    margin-top: 8px;
}

a.shortcut_box {
    background-color: #1B8455;
    margin-top: 8px;
    margin-left: 8px;
    width: 25%;
    min-width: 150px;
    height: 120px;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    
    p {
        margin-top: 8px;
        color: #FFF;
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
    }
    
    &:nth-child(2){
        background-color: #2D7C97!important;
    }
    
    &:nth-child(3){
        background-color: #BB4433!important;
    }
    
    &:nth-child(4){
        background-color: #a86800!important;
    }
   
    img {
        padding-top: 32px;
        display: block;
        width: 3em;
        margin: auto;
    }
}



/*********CONTENT***********/  

#profile_body {
    background-color: #F1F2F7;
    padding: 0;
}

.card_header {
    background-color: $brandColorBlue;
    padding: 8px 20px;
    margin-top: 16px;
    
    h2 {
        color: #fff;
        font-size: 1em;
        margin: 10px 0;
    }
}

.card_content {
    background-color: #fff;
    padding: 20px;
}

.recent_loop {
    padding: 0 8px 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #333;
    
    img {
        display: none;
    }
    
    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 8px;
        
        span {
            color: #555!important;
        }
    }
    
    &:last-child {
        border-bottom: none;
        margin-bottom: 0px;
    }
    
    #view_svg {
        display: block;
        float:right;
        width: 3em;
    }
}

/*********OVERVIEW***********/

.overview_wrap {
    text-align: center;
    
}

.overview_content {
    padding: 8px 16px 16px;
}

.overview_box {
    border-right: dotted #e3e3e3;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    
    &:nth-child(2) {
        border:none;
    }
    
    &:nth-child(4) {
        border:none;
    }
    
    .overview_dig {
        font-size: 2em;
        display: block;
        margin: 18px 0 0;
    }
    
    .overview_text {
        font-size: 1em;
        display: block;
        margin: 10px 0;
    }
}
.overview_text {
    
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    display: block;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    :nth-child(2){
        font-size: 1em!important;
    }
}

/*********EDIT PAGE***********/

.edit_box {
    text-align: left;
}

/*********VIEW ALL POST ***********/

.all_posts {
    
    img {
        display: none;
    }
}
/*-----------------------------------------
                FOOTER
------------------------------------------*/


#footer {
    background-color: $brandColorBlue;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    
    .row {
        margin-bottom: 60px;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    h3 {
        font-weight: bold;
        margin-top: 30px;
    }
    
    a {
        color: $linkColorLight;
        
        &:hover, &:focus {
            text-decoration: none;
            color: #EC9E0C; 
        }
    
    }
    
    img {
        margin: 0 auto;
        display: block;
    }
    
}

.social_networks {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 16px;
    
    a {
        font-size: 2.4em;
        color: #f9f9f9;
        padding: 10px;
        transition: 0.2s;
    }
}

/*--------------*/

.clear {   
    clear:both;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}